#dices-selector {
  text-align: center;
  min-height: 40px;
}
#dices-selector.selectable .dice {
  cursor: pointer;
}

.dice {
  display: inline-block;
  position: relative;
  background-position: 0px 0px;
  width: 33px;
  height: 33px;
  margin: 3px;
  border-radius: 6px;
  border-style: outset;
  border-width: 1px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.dice.white-dot {
  background: url("img/dices-white.png"), black;
  background-size: auto 100%;
}
.dice.black-dot {
  background: url("img/dices-black.png"), black;
  background-size: auto 100%;
}
.dice.dice1 {
  background-position-x: 0%;
}
.dice.dice2 {
  background-position-x: 20%;
}
.dice.dice3 {
  background-position-x: 40%;
}
.dice.dice4 {
  background-position-x: 60%;
}
.dice.dice5 {
  background-position-x: 80%;
}
.dice.dice6 {
  background-position-x: 100%;
}

#casinos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#casinos .casino_wrapper {
  display: inline-block;
}
#casinos .casino_wrapper .casino {
  position: relative;
  background-image: url("img/casinos.png");
  background-position: 0px 0px;
  width: 466px;
  height: 292px;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}
#casinos .casino_wrapper .casino#casino1 {
  background-position-x: 0%;
}
#casinos .casino_wrapper .casino#casino2 {
  background-position-x: 20%;
}
#casinos .casino_wrapper .casino#casino3 {
  background-position-x: 40%;
}
#casinos .casino_wrapper .casino#casino4 {
  background-position-x: 60%;
}
#casinos .casino_wrapper .casino#casino5 {
  background-position-x: 80%;
}
#casinos .casino_wrapper .casino#casino6 {
  background-position-x: 100%;
}
#casinos .casino_wrapper .casino.selectable {
  border: 4px red dashed;
  cursor: pointer;
}

.dice-counters {
  display: flex;
  padding: 5px;
}
.dice-counters .dice-counter {
  flex: 1;
  display: flex;
  align-items: center;
}
.dice-counters .dice-counter .dice {
  width: 16px;
  height: 16px;
  margin: unset;
  margin-right: 8px;
  border-radius: 3px;
  box-shadow: unset;
}

#firstPlayerToken {
  display: inline-block;
  position: relative;
  background-image: url("img/firstplayer.png");
  width: 32px;
  height: 32px;
}
