#dices-selector {
    text-align: center;
    min-height: 40px;

    &.selectable {
        .dice {
            cursor: pointer;
        }
    }
}

.dice {
    display: inline-block;
    position: relative;
    background-position: 0px 0px;
    width: 33px;
    height: 33px;
    margin: 3px;
    border-radius: 6px;
    border-style: outset;
    border-width: 1px;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);

    &.white-dot {
        background: url('img/dices-white.png'), black;
        background-size: auto 100%;
    }
    &.black-dot {
        background: url('img/dices-black.png'), black;
        background-size: auto 100%;
    }

    @for $i from 1 through 6 {
        &.dice#{$i}{
          background-position-x: ($i - 1)/5 * 100%;
        }
    }
}

#casinos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .casino_wrapper {
        display: inline-block;
    
        .casino {
            position: relative;
            background-image: url('img/casinos.png');
            background-position: 0px 0px;
            width: 466px;
            height: 292px;
            padding: 50px;
            box-sizing: border-box;
            
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            align-content: center;
    
            @for $i from 1 through 6 {
                &#casino#{$i}{
                  background-position-x: ($i - 1)/5 * 100%;
                }
            }
    
            &.selectable {
                border: 4px red dashed;
                cursor: pointer;
            }

            .casino-player {
                position: relative;
                text-align: center;
            }
        }
    }
}

.dice-counters {
    padding: 5px;
    display: flex;
    align-items: center;

    .dice {
        width: 16px;
        height: 16px;
        margin: unset;
        margin: 8px;
        border-radius: 3px;
        box-shadow: unset;
    }
}

#firstPlayerToken {
    display: inline-block;
    position: relative;
    background-image: url('img/firstplayer.png');
    width: 32px;
    height: 32px;
}