#dices-selector {
    text-align: center;
}

.dice {
    display: inline-block;
    position: relative;
    background-image: url('img/dices.png');
    background-position: 0px 0px;
    width: 33px;
    height: 33px;
    margin: 3px;

    @for $i from 1 through 6 {
        &.dice#{$i}{
          background-position-x: ($i - 1)/5 * 100%;
        }
    }

    .dice-overlay {
        width: 100%;
        height: 100%;
        opacity: 0.6;
        border-radius: 6px;
    }
}

#casinos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .casino_wrapper {
        display: inline-block;
    
        .casino {
            position: relative;
            background-image: url('img/casinos.png');
            background-position: 0px 0px;
            width: 466px;
            height: 288px;
            box-sizing: border-box;
            
            display: flex;
            justify-content: center;
            align-items: center;
    
            @for $i from 1 through 6 {
                &#casino#{$i}{
                  background-position-x: ($i - 1)/5 * 100%;
                }
            }
    
            &.selectable {
                border: 4px red dashed;
                cursor: pointer;
            }
        }
    }
}
